.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/
*.pyc
*.pyo
*.rbc
*.cap
*.diff
*.patch
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.2
*.a
*.dll
*.exe
*.o
*.so
*.pyc
*.pyo
*.rej
*.swp
*.vi
*~
*.bak
*.swp
*.bbl
*.blg
*.class
*.dll
*.dvi
*.exe
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.ini
*.log
*.out
*.pdf
*.synctex.gz
*.toc
.env
